<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/core/layout}">
<head>
    <title th:text="#{index.title}">Home</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="#{app.brand}">App</h1>
    <p th:text="#{index.intro}">Benvenuto.</p>

    <ul class="list-none p-0 my-4">
        <li class="py-2">
            <a th:href="@{/example}" th:text="#{index.link.example}">Esempio</a>
            &mdash; <span th:text="#{index.link.example.suffix}">una feature completa da copiare.</span>
        </li>
    </ul>
</div>
</body>
</html>
