<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Galleria</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Galleria</h1>
    <p th:if="${#lists.isEmpty(generations)}">
        Nessuna immagine ancora. <a th:href="@{/generations/new}">Generane una</a>.
    </p>

    <div id="gallery-content">
        <div th:replace="~{fragments/gallery :: content(${generations}, ${currentPage}, ${totalPages}, ${hasPrevious}, ${hasNext}, ${pageNumbers})}"></div>
    </div>
</div>
</body>
</html>
