<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title th:text="#{galleryDetail.title(${generation.id})}">Immagine</title>
</head>
<body>
<div layout:fragment="content">
    <p><a th:href="@{/gallery}">&larr; <span th:text="#{galleryDetail.backLink}">Torna alla galleria</span></a></p>

    <img th:src="@{'/images/' + ${generation.imageFilename}}"
         th:alt="${generation.prompt}"
         class="generated-image">

    <dl class="generation-details">
        <dt th:text="#{galleryDetail.label.prompt}">Prompt</dt>
        <dd th:text="${generation.prompt}">prompt</dd>

        <dt th:text="#{galleryDetail.label.model}">Modello</dt>
        <dd th:text="${generation.model}">modello</dd>

        <dt th:if="${generation.version}" th:text="#{galleryDetail.label.version}">Version</dt>
        <dd th:if="${generation.version}" th:text="${generation.version}">version</dd>

        <dt th:if="${generation.parametersJson}" th:text="#{galleryDetail.label.parameters}">Parametri</dt>
        <dd th:if="${generation.parametersJson}"><pre th:text="${generation.parametersJson}">{}</pre></dd>

        <dt th:text="#{galleryDetail.label.completedAt}">Generata il</dt>
        <dd th:text="${generation.completedAt}">timestamp</dd>
    </dl>
</div>
</body>
</html>
