<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title th:text="#{gallery.title}">Galleria</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="#{gallery.title}">Galleria</h1>
    <p th:if="${#lists.isEmpty(generations)}">
        <span th:text="#{gallery.empty.prefix}">Nessuna immagine ancora.</span> <a th:href="@{/generations/new}" th:text="#{gallery.empty.link}">Generane una</a>.
    </p>

    <div id="gallery-content">
        <div th:replace="~{fragments/gallery :: content(${generations}, ${currentPage}, ${totalPages}, ${hasPrevious}, ${hasNext}, ${pageNumbers})}"></div>
    </div>
</div>
</body>
</html>
